footer {
    @include box-sizing(border-box);
    @include clearfix;
    text-align: left;
    font-size: 0.813em;
    .container {
        @include gutter;
        >div {
            padding-bottom: 1em;
        }
        background:rgb(4, 78, 158);
        background: -webkit-linear-gradient(90deg, rgb(4, 78, 158), rgb(82, 34, 128));
        background: linear-gradient(90deg, rgb(4, 78, 158), rgb(82, 34, 128));
        padding: 1em 2em;
    }
    a {
        text-decoration: none;
        color: #aabcd9;
        &:hover,
        &:focus {
            color: darken(#aabcd9, 10);
        }
    }
    .footer_logo {
        @include make-xs-column(8);
        @include make-sm-column(6);
        @include make-md-column(4);
        @include make-lg-column(4);
        @include gutter();
    }
    .footer_info {
        @include make-xs-column(12);
        @include make-sm-column(6);
        @include make-md-column(8);
        @include make-lg-column(8);
        @include gutter();
    }
    // .footer_icon {
    //     @include make-xs-column(12);
    //     @include make-sm-column(3);
    //     @include make-md-column(3);
    //     @include make-lg-column(3);
    //     @include gutter();
    // }
    // 版權連結
    .footer_link {
        @include li-reset();
        @include clearfix();
        li {
            float: left;
            display: block;
            margin: 0px 5px 5px 0px;
            a {
                display: block;
                padding: .5em 1em;
                background: $primaryColor;
                color: #FFF;
                border-radius:4px;
                @include transition(all, .3s, ease-out);
                &:hover,
                &:focus {
                    background: darken($primaryColor, 10);
                }
            }
        }
    }
    p {
        line-height: 1.65em;
        font-size: 0.85em;
        color:#fff;
        margin: 0;
    }
    .Copyright{
        color:#00fbff;
        border-bottom: solid 1px #8a8bbc;
        padding-bottom: 0.5em;
        margin-bottom: 1em;
    }
    .update,
    .counter {
        display: inline-block;
        margin-right: 5px;
        em {
            font-style: normal;
            color: $primaryColor;
            padding: 0 .5em;
        }
    }
    .footer_icon {
        a {
            display: inline-block;
            vertical-align: top;
        }
        img {
            max-width: 120px;
        }
    }
}